{% extends 'base.html' %}
{% block title %}Login{% endblock %}


{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-6 my-col">
            <h2>Login</h2>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" type="email" required="required" maxlength="80">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                        required="required" maxlength="30" minlength="8">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>
                <br />
                <button type="submit" class="btn btn-success">Login</button>
                <br />
                <br />
                <a href='{% url 'signup' %}'>Don't have an account? Sign up!</a>
            </form>
        </div>
    </div>
{% endblock %}