<!DOCTYPE html>
<html lang="en">
  <head>
      {% load staticfiles %}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
      <title>Home</title>
  </head>
  <header>
    <nav class="navbar">
        <ul class="b"> 
            <li><a href="/">Home</a></li>
            <li><a href="#">Job register</a></li>
            <li><a href="#">Find a job</a></li>
            <li><a href="#">About</a></li>
            <li><a href="dashboard">Teste</a></li>
        </ul>
    </nav>
  </header>
